html
  head
    title Back to the Future
    style.
      body {
        margin: 0;
      }
      .ui {
        position: absolute;
      }

      #stage {}

  body
    .ui
      h1 Back to the Future
      form(id='form-search')
        input(type='search', placeholder='Apple Computer', name='query')
        button(type='submit') Go
