html
  head
    title Back to the Future
    style.
      body {
        margin: 0;
      }
      .ui {
        position: absolute;
      }

      #stage {}

  body
    .ui
      h1 Back to the Future
      form(id='form-search')
        input(type='search', placeholder='Apple Computer', name='query')
        button(type='submit') Go
      #result
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.49/jquery.form.min.js")
    script(src="/public/js/search.js")

